<!DOCTYPE html>
<html lang="en">
  <%- include('header'); -%>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <%- include('sidebar'); -%>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <%- include('topbar'); -%>
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- ************************************************** -->



          
          <!-- Vị trí thêm các page  -->




           <!-- ************************************************** -->
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- add product -->
  <div class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Chi Tiết Sản Phẩm</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="id" class="col-form-label">ID:</label>
              <input type="text" class="form-control" id="id">
            </div>
            <div class="form-group">
              <label for="nameProduct" class="col-form-label">Tên Sản Phẩm:</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="typeProduct" class="col-form-label">Loại Sản Phẩm:</label>
              <input type="text" class="form-control" id="type">
            </div>
            <div class="form-group">
              <label for="amountProduct" class="col-form-label">Số Lượng Sản Phẩm:</label>
              <input type="text" class="form-control" id="amount">
            </div>
            <div class="form-group">
              <label for="minimumProduct" class="col-form-label">Số Lượng Quy Định:</label>
              <input type="text" class="form-control" id="minimum">
            </div>
            <div class="form-group">
              <label for="Provider" class="col-form-label">Nhà Phân Phối:</label>
              <input type="text" class="form-control" id="provider">
            </div>      
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../js/demo/datatables-demo.js"></script>
<script>
  $(function() {
  $('#addProduct').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var name = button.data('name'), // Extract info from data-* attributes
    typePro = button.data('type'),
      amount = button.data('amount'),
      minimum = button.data('minimum'),
      provider = button.data('provider'),
      id = button.data('id')
      console.log(provider)
    var modal = $(this)
    modal.find('#name').val(name);
    modal.find('#type').val(typePro);
    modal.find('#amount').val(amount);
    modal.find('#minimum').val(minimum);
    modal.find('#provider').val(provider);
    modal.find('#id').val(id);
  });

});
</script>
</body>

</html>
